{% extends '::layoutAdmin.html.twig' %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>
    <link rel="stylesheet" type="text/css" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'/>
    <link rel="stylesheet" href="{{ asset('templates/assets/global/css/Responsive_Table_Style.css') }}"/>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#example').DataTable( {
                columnDefs: [ {
                    targets: [ 0 ],
                    orderData: [ 0, 1 ]
                }, {
                    targets: [ 1 ],
                    orderData: [ 1, 0 ]
                }, {
                    targets: [ 4 ],
                    orderData: [ 4, 0 ]
                } ]
            } );
        } );
    </script>

{% endblock %}

{% block body %}
<div class="col-md-12 col-xs-12">
    <div class="content">
    <h3>Liste des salles</h3>
    <div id="no-more-tables">
    <table class="table-vertical" id="example">
        <thead>
        <tr>
            <th>Nom Salle</th>
            <th>Etat</th>
            <th>Nombre Max. de chaises</th>
            <th>Etage</th>
            <th><a href="{{path('ajouter_Salle')}}">+Nouvelle Salle</a></th>
        </tr>
        </thead>
        <tbody>
        {% for sal in salle %}
        <tr>
            <td data-title="Intitulé">{{ sal.nomSalle }}</td>
            <td data-title="Etat">{{ sal.etat }}</td>
            <td data-title="Nombre de Chaises">{{ sal.nbrMaxChaises }}</td>
            <td data-title="Etage">{{ sal.etage }}</td>
            <td data-title="Action">

                <div class="btn-toolbar" role="toolbar">

                    <div class="btn-group">

                        <a href="{{ path('modifier_Salle',{ 'id': sal.id }) }}">
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </a>

                        <a href="{{ path('suprimer_Salle', { 'id': sal.id }) }}">
                            <button type="button" class="btn btn-default" onclick="if(window.confirm('Voulez-vous vraiment supprimer ?'))
                                {return true;}else{return false;}">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button></a>
                    </div>
                </div>
        </tr>
        {% else %}
            <p>Aucune Salle n'a été trouvée.</p>
        {% endfor %}
        </tbody>
    </table>
    </div></div>
</div>
{% endblock %}
