{% extends '::layoutPersonnel.html.twig' %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#example').DataTable( {
                columnDefs: [ {
                    targets: [ 0 ],
                    orderData: [ 0, 1 ]
                }, {
                    targets: [ 1 ],
                    orderData: [ 1, 0 ]
                }, {
                    targets: [ 4 ],
                    orderData: [ 4, 0 ]
                } ]
            } );
        } );
    </script>

    <link rel="stylesheet" type="text/css" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'/>

{% endblock %}

{% block body %}
    <div>
        <table class="table">
            <tbody>
            {% for mem in membre %}
                <tr>
                <tr><td><b>Nom</b></td><td>{{ mem.nom }}</td></tr>
                <tr><td><b>Prenom</b></td><td>{{ mem.prenom }}</td></tr>
                <tr><td><b>Sexe</b></td><td>{{ mem.sexe }}</td></tr>
                <tr><td><b>LieuNaissance</b></td><td>{{ mem.nationalite }}</td></tr>
                <tr><td><b>Ville</b></td><td>{{ mem.ville }}</td>
                <tr><td><b>date de Naissance</b></td><td>{{ mem.dateNaissance|date('d-m-Y') }}</td></tr>
                <tr><td><b>Numéro Cin/Pass</b></td><td>{{ mem.cin }}</td></tr>
                <tr><td><b>Adresse</b></td><td>{{ mem.adresse }}</td></tr>
                <tr><td><b>Téléphone</b></td><td>{{ mem.tel }}</td></tr>
                <tr><td><b>Email</b></td><td>{{ mem.email }}</td></tr>
                <tr><td><b>Numéro RIB/RIP</b></td><td>{{ mem.rib }}</td></tr>
                <tr><td><b>Login</b></td><td>{{ mem.login }}</td></tr>
                <tr><td><a href="{{ path('modifierProfilMembre',{'id':mem.id,'username':mem.login }) }}"><button class="btn btn-primary">Modifier</button></a></td></tr>
                </tr>
            {% else %}
                <p>Aucune information n'a été trouvée.</p>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
