<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from backend.themesadmin.com/backend/admin_icon_menu/default/admin_default/userlist.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 08 May 2017 10:52:08 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="description" content="bootstrap default admin template">
    <meta name="viewport" content="width=device-width">
    <title>Userlist | Admin Template</title>

    <script type="text/javascript">
        //<![CDATA[
        try{if (!window.CloudFlare) {var CloudFlare=[{verbose:0,p:0,byc:0,owlid:"cf",bag2:1,mirage2:0,oracle:0,paths:{cloudflare:"/cdn-cgi/nexp/dok3v=1613a3a185/"},atok:"de2f1d2ca7a4618e2e35af9620d39dfd",petok:"6951daf743559100a5a9336c6b2eb20686d18235-1494240511-1800",zone:"themesadmin.com",rocket:"0",apps:{"ga_key":{"ua":"UA-92643213-2","ga_bs":"2"}}}];!function(a,b){a=document.createElement("script"),b=document.getElementsByTagName("script")[0],a.async=!0,a.src="../../../../../ajax.cloudflare.com/cdn-cgi/nexp/dok3v%3d85b614c0f6/cloudflare.min.js",b.parentNode.insertBefore(a,b)}()}}catch(e){};
        //]]>
    </script>
    <link rel="shortcut icon" href="http://backend.themesadmin.com/backend/assets/favicon/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="{{ asset('templates/assets/favicon/apple-touch-icon.png') }}"/>
    <link rel="apple-touch-icon" sizes="{{ asset('templates/assets/favicon/apple-touch-icon-57x57.png') }}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('templates/assets/favicon/apple-touch-icon-72x72.png') }}"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('templates/assets/favicon/apple-touch-icon-76x76.png') }}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('templates/assets/favicon/apple-touch-icon-114x114.png') }}"/>
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('templates/assets/favicon/apple-touch-icon-120x120.png') }}"/>
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('templates/assets/favicon/apple-touch-icon-144x144.png') }}"/>
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('templates/assets/favicon/apple-touch-icon-152x152.png') }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('templates/assets/favicon/apple-touch-icon-180x180.png') }}"/>

    <link rel="stylesheet" href="{{ asset('templates/assets/global/plugins/bootstrap/dist/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('templates/assets/icons_fonts/elegant_font/elegant.min.css') }}"/>
    <link id="site-color" rel="stylesheet" href="{{ asset('templates/assets/layouts/layout-icon-menu/css/color/light/color-default.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('templates/assets/global/plugins/switchery/dist/switchery.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('templates/assets/global/plugins/perfect-scrollbar/css/perfect-scrollbar.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/>

    <link rel="stylesheet" href="{{ asset('templates/assets/global/css/components.min.css') }}"/>


    <link rel="stylesheet" href="{{ asset('templates/assets/layouts/layout-icon-menu/css/layout.min.css') }}"/>

    <script type="text/javascript">
        /* <![CDATA[ */
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-92643213-2']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        (function(b){(function(a){"__CF"in b&&"DJS"in b.__CF?b.__CF.DJS.push(a):"addEventListener"in b?b.addEventListener("load",a,!1):b.attachEvent("onload",a)})(function(){"FB"in b&&"Event"in FB&&"subscribe"in FB.Event&&(FB.Event.subscribe("edge.create",function(a){_gaq.push(["_trackSocial","facebook","like",a])}),FB.Event.subscribe("edge.remove",function(a){_gaq.push(["_trackSocial","facebook","unlike",a])}),FB.Event.subscribe("message.send",function(a){_gaq.push(["_trackSocial","facebook","send",a])}));"twttr"in b&&"events"in twttr&&"bind"in twttr.events&&twttr.events.bind("tweet",function(a){if(a){var b;if(a.target&&a.target.nodeName=="IFRAME")a:{if(a=a.target.src){a=a.split("#")[0].match(/[^?=&]+=([^&]*)?/g);b=0;for(var c;c=a[b];++b)if(c.indexOf("url")===0){b=unescape(c.split("=")[1]);break a}}b=void 0}_gaq.push(["_trackSocial","twitter","tweet",b])}})})})(window);
        /* ]]> */
    </script>
</head>

<body>
<div class="loader-overlay">
    <div class="loader-preview-area">
        <div class="spinners">
            <div class="loader">
                <div class="rotating-plane"></div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">

    <header id="header">

        <div class="header-width">
            <div class="col-xl-9">
                <div class="logo float-xs-left">
                    <a href="#"><img src="{{ asset('templates/assets/global/image/web-logo.png') }}" alt="logo"></a>
                </div>
            </div>
            <div class="col-xl-3 header-right">
                <div class="header-inner-right">
                    <div class="float-default searchbox">
                        <div class="right-icon">
                            <a href="javascript:void(0)">
                                <i class="icon_search"></i>
                            </a>
                        </div>
                    </div>
                    <div class="float-default mail">
                        <div class="right-icon">
                            <a href="javascript:void(0)" data-toggle="dropdown" data-open="true" aria-expanded="true">
                                <i class="icon_mail_alt"></i>
                                <span>10</span>
                            </a>
                            <div class="dropdown-menu messagetoggle" role="menu">
                                <div class="nav-tab-horizontal">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#messages" role="tab">Message</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#resendmessage" role="tab">Resend</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="messages" role="tabpanel" data-plugin="custom-scroll" data-height="320">
                                        <ul class="userMessagedrop">
                                            <li>
                                                <a href="#">
                                                    <div class="media">
                                                        <div class="media-left float-xs-left">
                                                            <span class="label label-primary"><i class="icon_plus"></i></span>
                                                        </div>
                                                        <div class="media-body">
                                                            <h6>New tasks added</h6>
                                                            <p>Dummy text of the printing and typesetting industry.</p>
                                                            <div class="meta-tag text-nowrap">
                                                                <time datetime="2016-12-10T20:27:48+07:00" class="text-muted">5 mins
                                                                </time>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="media">
                                                        <div class="media-left float-xs-left">
                                                            <span class="label label-success"><i class="icon_lock"></i></span>
                                                        </div>
                                                        <div class="media-body">
                                                            <h6>Successfully</h6>
                                                            <p>Dummy text of the printing and typesetting industry.</p>
                                                            <div class="meta-tag text-nowrap">
                                                                <time datetime="2016-12-10T20:27:48+07:00" class="text-muted">5 mins
                                                                </time>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="media">
                                                        <div class="media-left float-xs-left">
                                                            <span class="label label-danger"><i class="icon_info_alt"></i></span>
                                                        </div>
                                                        <div class="media-body">
                                                            <h6>Warnind</h6>
                                                            <p>Dummy text of the printing and typesetting industry.</p>
                                                            <div class="meta-tag text-nowrap">
                                                                <time datetime="2016-12-10T20:27:48+07:00" class="text-muted">5 mins
                                                                </time>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="media">
                                                        <div class="media-left float-xs-left">
                                                            <span class="label label-info"><i class="icon_plus"></i></span>
                                                        </div>
                                                        <div class="media-body">
                                                            <h6>Add new friend</h6>
                                                            <p>Dummy text of the printing and typesetting industry.</p>
                                                            <div class="meta-tag text-nowrap">
                                                                <time datetime="2016-12-10T20:27:48+07:00" class="text-muted">5 mins
                                                                </time>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="resendmessage" role="tabpanel" data-plugin="custom-scroll" data-height="320">
                                        <ul class="userMessagedrop">
                                            <li>
                                                <a href="#">
                                                    <div class="media">
                                                        <div class="media-left float-xs-left">
                                                            <span class="label label-primary"><i class="icon_profile"></i></span>
                                                        </div>
                                                        <div class="media-body">
                                                            <h6>5 new members joi...</h6>
                                                            <p>Dummy text of the printing and typesetting industry.</p>
                                                            <div class="meta-tag text-nowrap">
                                                                <time datetime="2016-12-10T20:27:48+07:00" class="text-muted">2 mins
                                                                </time>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="media">
                                                        <div class="media-left float-xs-left">
                                                            <span class="label label-success"><i class="icon_key"></i></span>
                                                        </div>
                                                        <div class="media-body">
                                                            <h6>You changed...</h6>
                                                            <p>Dummy text of the printing and typesetting industry.</p>
                                                            <div class="meta-tag text-nowrap">
                                                                <time datetime="2016-12-10T20:27:48+07:00" class="text-muted">5 mins
                                                                </time>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="media">
                                                        <div class="media-left float-xs-left">
                                                            <span class="label label-danger"><i class="icon_close"></i></span>
                                                        </div>
                                                        <div class="media-body">
                                                            <h6>5 members removed</h6>
                                                            <p>Dummy text of the printing and typesetting industry.</p>
                                                            <div class="meta-tag text-nowrap">
                                                                <time datetime="2016-12-10T20:27:48+07:00" class="text-muted">15 mins
                                                                </time>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="media">
                                                        <div class="media-left float-xs-left">
                                                            <span class="label label-info"><i class="icon_plus"></i></span>
                                                        </div>
                                                        <div class="media-body">
                                                            <h6>Update available</h6>
                                                            <p>Dummy text of the printing and typesetting industry.</p>
                                                            <div class="meta-tag text-nowrap">
                                                                <time datetime="2016-12-10T20:27:48+07:00" class="text-muted">5 mins
                                                                </time>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="float-default chat">
                        <div class="right-icon">
                            <a href="javascript:void(0)" data-toggle="dropdown" data-open="true" data-animation="slideOutUp" aria-expanded="false">
                                <i class="icon_chat_alt"></i>
                                <span>8</span>
                            </a>
                            <ul class="dropdown-menu userChat" data-plugin="custom-scroll" data-height="310">
                                <li>
                                    <a href="#">
                                        <div class="media">
                                            <div class="media-left float-xs-left">
                                                <img src="{{ asset('assets/global/image/image1-profile.jpg') }}" alt="message"/>
                                            </div>
                                            <div class="media-body">
                                                <h5>Judy Fowler</h5>
                                                <p>Dummy text of the printing...</p>
                                                <div class="meta-tag text-nowrap">
                                                    <time datetime="2016-12-10T20:27:48+07:00" class="text-muted">5 mins
                                                    </time>
                                                </div>
                                                <div class="status online"></div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="media">
                                            <div class="media-left float-xs-left">
                                                <img src="{{ asset('assets/global/image/image2-profile.jpg') }}" alt="message"/>
                                            </div>
                                            <div class="media-body">
                                                <h5>Judy Fowler</h5>
                                                <p>Dummy text of the printing...</p>
                                                <div class="meta-tag text-nowrap">
                                                    <time datetime="2016-12-10T20:27:48+07:00" class="text-muted">2
                                                        hours
                                                    </time>
                                                </div>
                                                <div class="status offline"></div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="media">
                                            <div class="media-left float-xs-left">
                                                <img src="{{ asset('assets/global/image/image3-profile.jpg') }}" alt="message"/>
                                            </div>
                                            <div class="media-body">
                                                <h5>Judy Fowler</h5>
                                                <div class="meta-tag text-nowrap">
                                                    <time datetime="2016-12-10T20:27:48+07:00" class="text-muted">20 Oct
                                                    </time>
                                                </div>
                                                <div class="status offline"></div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="media">
                                            <div class="media-left float-xs-left">
                                                <img src="{{ asset('assets/global/image/image4-profile.jpg') }}" alt="message"/>
                                            </div>
                                            <div class="media-body">
                                                <h5>Judy Fowler</h5>
                                                <p>Dummy text of the printing...</p>
                                                <div class="meta-tag text-nowrap">
                                                    <time datetime="2016-12-10T20:27:48+07:00" class="text-muted">20 Oct
                                                    </time>
                                                </div>
                                                <div class="status online"></div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="float-default chat">
                        <div class="right-icon">
                            <a href="#" data-plugin="fullscreen">
                                <i class="arrow_expand"></i>
                            </a>
                        </div>
                    </div>
                    <div class="user-dropdown">
                        <div class="btn-group">
                            <a href="#" class="user-header dropdown-toggle" data-toggle="dropdown" data-animation="slideOutUp" aria-haspopup="true" aria-expanded="false">
                                <img src="{{ asset('templates/assets/global/image/user.jpg') }}" alt="Profile image"/>
                            </a>
                            <div class="dropdown-menu drop-profile">
                                <div class="userProfile">
                                    <img src="{{ asset('templates/assets/global/image/user.jpg') }}" alt="Profile image"/>
                                    <h5>Miler Hussey</h5>
                                    <p>milerhussey@yahoo.com</p>
                                </div>
                                <div class="dropdown-divider"></div>
                                <a class="btn left-spacing link-btn" href="#" role="button">Link</a>
                                <a class="btn left-second-spacing link-btn" href="#" role="button">Link 2</a>
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <a class="btn btn-primary float-xs-right right-spacing" href="{{ path('fos_user_security_logout') }}"
                                       role="button">Logout
                                        <i class="icon-key"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                    </a>
                                {% else %}
                                    <a href="{{ path('fos_user_security_login') }}">
                                        <i class="icon-key"></i>{{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block menuHeader %} {% endblock %}
    </header>

</div>
</div>


</header>

{% block menu %} {% endblock %}

{% block body %}{% endblock %}

    <footer id="footer">

    </footer>

</div>

<script type="text/javascript" src="{{ asset('templates/assets/global/plugins/jquery/dist/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('templates/assets/global/plugins/tether/dist/js/tether.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('templates/assets/global/plugins/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('templates/assets/global/plugins/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('templates/assets/global/plugins/switchery/dist/switchery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('templates/assets/global/plugins/screenfull.js/dist/screenfull.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('templates/assets/global/plugins/classie/classie.js') }}"></script>




<script type="text/javascript" src="{{ asset('templates/assets/global/js/site.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('templates/assets/global/js/site-settings.min.js') }}"></script>


<script type="text/javascript" src="{{ asset('templates/assets/global/js/global/userlist.js') }}"></script>


<script type="text/javascript" src="{{ asset('templates/assets/layouts/layout-icon-menu/js/layout.min.js') }}"></script>

</body>

<!-- Mirrored from backend.themesadmin.com/backend/admin_icon_menu/default/admin_default/userlist.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 08 May 2017 10:52:14 GMT -->
</html>