{% extends '::layoutAdmin.html.twig' %}
{% block body %}
    <!-- select niveau -->
    <div id="wrapper">
        <div class="demo">
                <form action="{{path('Valider_Ajout')}}" method="post" id="myFormNiveau" class="form-inline">
                    <div class="control-group">
                        <label for="usr">Nom de l'unité:</label>
                        <input type="text" class="form-control" id="usr" name="nomUnite" required>
                    </div>
                    <br>
                    <div class="control-group">
                        <label for="usr">Niveau:</label>
                    <select name="NameNiveau" id="niveau_selectbox">
                        <option value="">Choisir un niveau</option>
                        {% if niveau is not empty %}
                            {% for niv in niveau %}
                                <option value={{niv.id}}>{{niv.nomNiveau}}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                    </div>
                    <br>
                    <div class="control-group">
                        <label for="usr">Filière:</label>
                     <select name="NameFiliere" id="filieres_list">
                        <option value=""></option>
                        {% if filiere is not empty %}
                            {% for fil in filiere %}
                                <option value={{fil.id}}>{{fil.intitule}}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                    </div>
                    <br>
                    <div class="control-group">
                        <select id="select-matieres" multiple name="matieres[]" class="demo-default" style="width:50%">
                            <option value="">Choisir les matières...</option>
                            {% if matiere is not empty %}
                                {% for mat in matiere %}
                                    <option value={{mat.nomMatiere}}>{{mat.nomMatiere}}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                    <input type="submit" value="Enregistrer" type="button" class="btn btn-success">
                </form>

        <div class="control-group">


    </div>


                <!-- filtrer la liste des filières selon le niveau séléctionnée -->
                <script type="text/javascript">
                    (function($) {
                        $('#niveau_selectbox').change(function(){
                            var val = $(this).val();
                            $.ajax({
                                type: "POST",
                                url: "{{ url('filieres_list_ajax_call') }}?niveau_id=" + val,
                                success: function(data) {
                                    // Remove current options
                                    $('#filieres_list').html('');
                                    $.each(data, function(k, v) {
                                        $('#filieres_list').append('<option value="' + v + '">' + k + '</option>');
                                    });
                                }
                            });
                            return false;
                        });
                    })(jQuery);
                </script>

                <!-- script permettant la séléction multiple des matières -->

                <script>
                    var eventHandler = function(name) {
                        return function() {
                            console.log(name, arguments);
                            $('#log').append('<div><span class="name">' + name + '</span></div>');
                        };
                    };
                    var $select = $('#select-matieres').selectize({
                        create          : false,
                        plugins: ['remove_button'],
                        onChange        : eventHandler('onChange'),
                        onItemAdd       : eventHandler('onItemAdd'),
                        onItemRemove    : eventHandler('onItemRemove'),
                        onOptionAdd     : eventHandler('onOptionAdd'),
                        onOptionRemove  : eventHandler('onOptionRemove'),
                        onDropdownOpen  : eventHandler('onDropdownOpen'),
                        onDropdownClose : eventHandler('onDropdownClose'),
                        onFocus         : eventHandler('onFocus'),
                        onBlur          : eventHandler('onBlur'),
                        onInitialize    : eventHandler('onInitialize'),
                    });
                </script>

                    <!-- <optgroup label="Liscence">
                         <option value="1 ère année Liscence">1 ère année Liscence</option>
                         <option value="2 ème année Liscence">2 ème année Liscence</option>
                         <option value="3 ème année Liscence">3 ème année Liscence</option>
                     </optgroup>
                     <optgroup label="Master Professionnel">
                         <option value="1 ère année Master Profesionnel">1 ère année Master Profesionnel</option>
                         <option value="2 ème année Master Profesionnel">2 ème année Master Profesionnel</option>
                     </optgroup>
                     <optgroup label="Master de Recherche">
                         <option value="1 ère année Master de Recherche">1 ère année Master de Recherche</option>
                         <option value="2 ème année Master de Recherche">2 ème année Master de Recherche</option>
                     </optgroup> -->

{% endblock %}