{% extends '::base.html.twig' %}

{% block body %}

    <!-- select niveau -->
    <div class="floating-box" style ="display: inline-block;">

        <div class="form-group">
            <label for="usr">Nom de l'unité:</label>
            <input type="text" class="form-control" id="usr" name="nomUnite" required>
        </div>

        <div class="form-group">
            <form action="{{path('Save_Unites')}}" method="post" id="myFormNiveau" class="form-inline">
                Niveau:
                <select name="NameNiveau" id="niveau_selectbox">
                    <option value="">Choisir un niveau</option>
                    <optgroup label="Liscence">
                        <option value="1 ère année Liscence">1 ère année Liscence</option>
                        <option value="2 ème année Liscence">2 ème année Liscence</option>
                        <option value="3 ème année Liscence">3 ème année Liscence</option>
                    </optgroup>
                    <optgroup label="Master Professionnel">
                        <option value="1 ère année Master Profesionnel">1 ère année Master Profesionnel</option>
                        <option value="2 ème année Master Profesionnel">2 ème année Master Profesionnel</option>
                    </optgroup>
                    <optgroup label="Master de Recherche">
                        <option value="1 ère année Master de Recherche">1 ère année Master de Recherche</option>
                        <option value="2 ème année Master de Recherche">2 ème année Master de Recherche</option>
                    </optgroup>
                </select>

                Filière: <select name="NameFiliere" id="filieres_list">
                    <option value=""></option>
                    {% if filiere is not empty %}
                        {% for fil in filiere %}
                            <option value={{fil.id}}>{{fil.intitule}}</option>
                        {% endfor %}
                    {% endif %}
                </select>
                <br>
                <!-- parcour de la table matiere pour l'affichage des matieres present dans la table -->
                <div class="form-group">
                    {% for mat in matiere %}
                        <br>
                        <label><input type="checkbox" name="nomMatiere[]" multiple="multiple" value={{mat.nomMatiere}}>{{mat.nomMatiere}}</label>
                    {% endfor %}
                    <br>
                    <input type="submit" value="Enregistrer" type="button" class="btn btn-success">
                </div>

            </form>
        </div>
        <script>
            function getValue(obj){
                $('#myFormNiveau').submit();}
        </script>

        <script type="text/javascript">
            (function($) {
                $('#niveau_selectbox').change(function(){
                    var val = $(this).val();
                    $.ajax({
                        type: "POST",
                        url: "{{ url('filieres_list_ajax_call') }}?niveau_id=" + val,
                        success: function(data) {
                            // Remove current options
                            $('#filieres_list').html('');
                            $.each(data, function(k, v) {
                                $('#filieres_list').append('<option value="' + v + '">' + k + '</option>');
                            });
                        }
                    });
                    return false;
                });
            })(jQuery);

        </script>

    </div>


{% endblock %}