{% extends '::layoutAdmin.html.twig' %}
{% block javascripts %}
<script>
    function same()
    {
        var a=document.getElementById( "gestion_uebundle_ue_niveau" ).value;
        var b=document.getElementById( "gestion_uebundle_ue_filiere" ).value;
        var c=document.getElementById( "select_matieres" ).value;
        document.getElementById( "classe" ).value= b;
    }
</script>
{% endblock %}
{% block body %}
    <div class="col-md-12 col-xs-12">
    <div class="content">
        <p>Ajouter une nouvele unité / <a href="{{path('Liste_UE')}}">Liste des unités</a> </p>
    {{ form_start(form,{'attr':{'action':path('AjoutUnites')}}) }}

    <div class="form-group">
        <label for="gestion_uebundle_ue_intitule">Intitulé de l'unité</label>
        {{ form_widget(form.intitule) }}
    </div>

    <div class="form-group">
        <label for="gestion_uebundle_ue_classe">Classe</label>
        {{ form_widget(form.classe) }}
    </div>

    <div class="form-group">
        <label for="">Matière(s)</label>
        {{ form_widget(form.matieres, {'id': 'select_matieres', 'attr': { 'class': 'custom-class demo-default'}}) }}
    </div>

    <div class="control-group">
        <input type="hidden" name="classe" id="classe" >
        {{ form_widget(form.submit, { 'label': 'Sauvegarder' }) }}
    </div>

    {{ form_end(form) }}
    </div>
    </div>
    <!-- script permettant la séléction multiple des matières-->

    <script>
        var eventHandler = function(name) {
            return function() {
                //console.log(name, arguments);
                //$('#log').append('<div><span class="name">' + name + '</span></div>');
            };
        };
        var $select = $('#select_matieres').selectize({
            persist: false,
            create: true,
            plugins: ['remove_button'],
            onChange        : eventHandler('onChange'),
            onItemAdd       : eventHandler('onItemAdd'),
            onItemRemove    : eventHandler('onItemRemove'),
            onOptionAdd     : eventHandler('onOptionAdd'),
            onOptionRemove  : eventHandler('onOptionRemove'),
            onDropdownOpen  : eventHandler('onDropdownOpen'),
            onDropdownClose : eventHandler('onDropdownClose'),
            onFocus         : eventHandler('onFocus'),
            onBlur          : eventHandler('onBlur'),
            onInitialize    : eventHandler('onInitialize'),
        });
    </script>

    <!-- filtrer la liste des matières selon la classe séléctionnée -->
    <script type="text/javascript">
        (function($) {
            $('#gestion_uebundle_ue_classe').change(function(){
                var val = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "{{ url('matiere_list_ajax_call') }}?classe_id=" + val,
                    success: function(data) {
                        // Remove current options
                        $('#select_matieres').html('');

                        var selectize = $("#select_matieres")[0].selectize;
                        selectize.clear();

                        var htmldata = '';
                        var new_value_options   = '[';
                        var key =0;
                        $.each(data, function (k, v) {
                        //    $('#select_matieres').append('<option value="' + v + '">' + k + '</option>');
                        htmldata += '<option value="'+ v +'">'+ k +'</option>';

                            var keyPlus = parseInt(key) + 1;
                            if (keyPlus == data.length) {
                                new_value_options += '{text: "'+ k +'", value: '+ v +'}';
                            } else {
                                new_value_options += '{text: "'+ k +'", value: '+ v +'},';
                            }
                            key++;
                        });
                        new_value_options   += ']';

                        //convert to json object
                        new_value_options = eval('(' + new_value_options + ')');
                        if (new_value_options[0] != undefined) {
                            // re-fill html select option field
                            $("#select_matieres").html(htmldata);
                            // re-fill/set the selectize values
                            var selectize = $("#select_matieres")[0].selectize;

                            selectize.clear();
                            selectize.clearOptions();
                            selectize.renderCache['option'] = {};
                            selectize.renderCache['item'] = {};

                            selectize.addOption(new_value_options);
                            selectize.;

                            selectize.setValue(new_value_options[0].value);
                        }

                        //var selectize = $select[0].selectize;
                        //selectize.clear();



                    }});
                return false;
            });
        })(jQuery);
    </script>




{% endblock %}