{% extends '::layoutAdmin.html.twig' %}
{% block javascripts %}
{% endblock %}
{% block body %}

    {{ form_start(form,{'attr':{'action':path('AjoutUnites')}}) }}

    <div class="form-group">
        {{ form_widget(form.intitule) }}
    </div>

    <div class="form-group">
        {{ form_widget(form.niveau) }}
    </div>

    <div class="form-group">
        {{ form_widget(form.filiere) }}
    </div>

    <div class="form-group">
        {{ form_widget(form.matieres, {'id': 'select_matieres', 'attr': { 'class': 'custom-class'}}) }}
    </div>

    <div class="control-group">
        {{ form_widget(form.submit, { 'label': 'Sauvegarder' }) }}
    </div>

    {{ form_end(form) }}

    <!-- filtrer la liste des filières selon le niveau séléctionnée -->
    <script type="text/javascript">
        (function($) {
            $('#gestion_uebundle_ue_niveau').change(function(){
                var val = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "{{ url('filieres_list_ajax_call') }}?niveau_id=" + val,
                    success: function(data) {
                        // Remove current options
                        $('#gestion_uebundle_ue_filiere').html('');
                        $.each(data, function(k, v) {
                            $('#gestion_uebundle_ue_filiere').append('<option value="' + v + '">' + k + '</option>');
                        });
                    }
                });
                return false;
            });
        })(jQuery);
    </script>

    <!-- script permettant la séléction multiple des matières -->

    <script>
        var eventHandler = function(name) {
            return function() {
                console.log(name, arguments);
                $('#log').append('<div><span class="name">' + name + '</span></div>');
            };
        };
        var $select = $('#select_matieres').selectize({
            create          : false,
            plugins: ['remove_button'],
            onChange        : eventHandler('onChange'),
            onItemAdd       : eventHandler('onItemAdd'),
            onItemRemove    : eventHandler('onItemRemove'),
            onOptionAdd     : eventHandler('onOptionAdd'),
            onOptionRemove  : eventHandler('onOptionRemove'),
            onDropdownOpen  : eventHandler('onDropdownOpen'),
            onDropdownClose : eventHandler('onDropdownClose'),
            onFocus         : eventHandler('onFocus'),
            onBlur          : eventHandler('onBlur'),
            onInitialize    : eventHandler('onInitialize'),
        });
    </script>


{% endblock %}