{% extends "::layoutAdmin.html.twig" %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#example').DataTable( {
                columnDefs: [ {
                    targets: [ 0 ],
                    orderData: [ 0, 1 ]
                }, {
                    targets: [ 1 ],
                    orderData: [ 1, 0 ]
                }, {
                    targets: [ 5 ],
                    orderData: [ 5, 0 ]
                } ]
            } );
        } );
    </script>

    <link rel="stylesheet" type="text/css" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'/>
    <link rel="stylesheet" href="{{ asset('templates/assets/global/css/Responsive_Table_Style.css') }}"/>

{% endblock %}

{% block body %}
    <div class="col-md-12 col-xs-12">
        <div class="content">
            <h2>Liste des Unités d'enseignament</h2>
            <div id="no-more-tables">
                <table class="table-vertical" id="example">
                    <thead>
                    <tr>
                        <th>Intitulé</th>
                        <th>Classe</th>
                        <th>Coefficient</th>
                        <th>Credit d'unité</th>
                        <th>Matiere</th>
                        <th><a href="{{path('AjoutUnites')}}">+Nouvelle UE</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ue in unites %}
                        <tr>
                            <td data-title="Intitulé">{{ ue.intitule }}</td>
                            <td data-title="Niveau">{{ ue.classe }}</td>
                            <td data-title="Coefficient">{{ ue.coeffUnite }}</td>
                            <td data-title="Credit">{{ ue.creditUnite }}</td>
                            <td data-title="Matières">{% for matiere in ue.matieres %}- {{matiere.nomMatiere}}<br>{% endfor %}</td>
                            <td data-title="Action">
                                <div class="btn-toolbar" role="toolbar">

                                    <div class="btn-group">

                                        <a href="{{path('modifierUE',{'id':ue.id})}}">
                                            <button type="button" class="btn btn-default">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                        </a>

                                        <a href="{{ path('supprimerUE', { 'id' : ue.id }) }}">
                                            <button type="button" class="btn btn-default" onclick="if(window.confirm('Voulez-vous vraiment supprimer ?'))
                                {return true;}else{return false;}">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button></a>
                                    </div>
                                </div>


                            </td>
                        </tr>
                    {% else %}
                        <p>Aucune Unité n'a été trouvée.</p>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
