{% extends '::base.html.twig' %}

{% block body %}
    <h1>Liste des unités d'enseignements :</h1>

    <a href="{{path('ajouter_UE')}}"><button class="btn btn-success">Ajouter UE</button></a>
    <table class="table">
        <thead>
        <tr>
            <th>Intitulé</th>
            <th>Coefficient</th>
            <th>Credit d'unité</th>
            <th>Niveau</th>
        </tr>
        </thead>
        {% for ue in unite %}
        <tbody>
        <tr>
            <td>{{ ue.intitule }}</td>
            <td>{{ ue.coeffUnite }}</td>
            <td>{{ ue.creditUnite }}</td>
            <td>..........</td>
            <td><a href="{{ path('modifier_UE', { 'id': ue.id }) }}"><button class="btn btn-primary">Modifier</button></a><a href="{{ path('supprimer_UE', { 'id': ue.id }) }}"><button class="btn btn-danger">Supprimer</button></a>
        </tr>
        {% else %}
            <p>Aucune Unité n'a été trouvée.</p>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}


