{% extends "::layoutAdmin.html.twig" %}
{% block header %}

    <link rel="stylesheet" href="{{ asset('templates/assets/global/plugins/font-awesome/css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('templates/assets/global/plugins/datatables/media/css/dataTables.bootstrap4.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('templates/assets/global/plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('templates/assets/global/plugins/datatables-scroller/css/scroller.bootstrap4.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'/>
    <link rel="stylesheet" href="{{ asset('templates/assets/global/plugins/flatpickr/dist/flatpickr.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('templates/assets/global/css/Responsive_Table_Style.css') }}"/>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#example').DataTable( {
                columnDefs: [ {
                    targets: [ 0 ],
                    orderData: [ 0, 1 ]
                }, {
                    targets: [ 1 ],
                    orderData: [ 1, 0 ]
                }, {
                    targets: [ 4 ],
                    orderData: [ 4, 0 ]
                } ]
            } );
        } );
    </script>

{% endblock %}

{% block body %}
<div class="col-md-12 profile-contain">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="content">
    <p>Liste des niveaux :</p>
    <div id="no-more-tables">
        <table class="table-vertical" id="example">
        <thead>
        <tr>
            <th>Niveau</th>
            <th>Filière</th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{path('ajouter_Niveau')}}">+Ajouter Niveau</a></th>
        </tr>
        </thead>
        <tbody>
        {% for niv in niveau %}
            <tr>
                <td data-title="Intitulé">{{ niv.NomNiveau }}</td>
                <td data-title="Filière">{{ niv.filiere }}</td>
                <td data-title="Action">

                    <div class="btn-toolbar" role="toolbar">

                        <div class="btn-group">

                            <a href="{{ path('modifier_Niveau', { 'id': niv.id }) }}">
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </a>

                            <a href="{{ path('supprimer_Niveau', { 'id': niv.id }) }}">
                                <button type="button" class="btn btn-default" onclick="if(window.confirm('Voulez-vous vraiment supprimer ?'))
                                {return true;}else{return false;}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button></a>
                        </div>
                    </div>


                </td>
            </tr>
        {% else %}
            <p>Aucune Niveau n'a été trouvée.</p>
        {% endfor %}
        </tbody>
    </table>
    </div></div></div></div></div>
{% endblock %}
