{% extends "::layoutAdmin.html.twig" %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ asset('templates/assets/global/css/Responsive_Table_Style.css') }}"/>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#example').DataTable( {
                columnDefs: [ {
                    targets: [ 0 ],
                    orderData: [ 0, 1 ]
                }, {
                    targets: [ 1 ],
                    orderData: [ 1, 0 ]
                }, {
                    targets: [ 4 ],
                    orderData: [ 4, 0 ]
                } ]
            } );
        } );
    </script>

    <link rel="stylesheet" type="text/css" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'/>

{% endblock %}

{% block body %}
    <h1>Liste des groupes :</h1>
    <div id="no-more-tables">
        <table class="table-vertical" id="example">
            <thead>
            <tr>
                <th>ID</th>
                <th>Classe</th>
                <th>Nom Groupe</th>
                <th>Nombre</th>
                <th><a href="{{path('AjoutGroupe')}}">+Nouveau Groupe</a></th>
            </tr>
            </thead>
            <tbody>
            {% for group in groupe %}
                <tr>
                    <td data-title="ID">{{group.id}}</td>
                    <td data-title="Classe">{{group.classe}}</td>
                    <td data-title="Intitulé">{{group.intitule}}</td>
                    <td data-title="Nombre">{{group.nombre}}</td>

                    <td data-title="Nom">
                        <div class="btn-toolbar" role="toolbar">

                            <div class="btn-group">

                                <a href="{{ path('ModifierGroupe',{'id':group.id}) }}">
                                    <button type="button" class="btn btn-default">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </a>

                                <a href="{{ path('deleteGroupe',{'id':group.id}) }}">
                                    <button type="button" class="btn btn-default" onclick="if(window.confirm('Voulez-vous vraiment supprimer ?'))
                                {return true;}else{return false;}">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </a>

                            </div>
                        </div>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


