{% extends "::layoutAdmin.html.twig" %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#example').DataTable( {
                columnDefs: [ {
                    targets: [ 0 ],
                    orderData: [ 0, 1 ]
                }, {
                    targets: [ 1 ],
                    orderData: [ 1, 0 ]
                }, {
                    targets: [ 6 ],
                    orderData: [ 6, 0 ]
                } ]
            } );
        } );
    </script>

    <link rel="stylesheet" type="text/css" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'/>
    <link rel="stylesheet" href="{{ asset('templates/assets/global/css/Responsive_Table_Style.css') }}"/>

{% endblock %}


{% block body %}

    <h2>Liste des enseignants</h2>
    <div id="no-more-tables">
    <table class="table-vertical" id="example">
    <thead>
    <tr>
    <th>Nom</th>
    <th>Prenom</th>
    <th>DateNaissance</th>
    <th>LieuNaissance</th>
    <th>Ville</th>
    <th>Sexe</th>
    <th><a href="{{path('ajouter_Enseignant')}}">+Nouveau Enseignant</a></th>
    </tr>
    </thead>
        <tbody>
        {% for ens in enseignant %}
        <tr>
            <td data-title="Nom"><a href="{{ path('infos_Enseignant',{ 'id': ens.id }) }}">{{ ens.nom }}</a></td>
            <td data-title="Prénom">{{ ens.prenom }}</td>
            <td data-title="Date de Naissance">{{ ens.dateNaissance|date("m/d/Y", false) }}</td>
            <td data-title="Lieu de Naissance">{{ ens.lieuxNaissance }}</td>
            <td data-title="Ville">{{ ens.ville }}</td>
            <td data-title="Sexe">{{ ens.sexe }}</td>
            <td data-title="Action">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group">
                        <a href="{{ path('infos_Enseignant',{ 'id': ens.id }) }}">
                            <button type="button" class="btn btn-default">
                                <span class="	glyphicon glyphicon-search"></span>
                            </button>
                        </a>

                        <a href="{{ path('modifier_Enseignant',{'id':ens.id, 'username':ens.login }) }}">
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </a>

                        <a href="{{ path('supprimerEnseignant',{'id':ens.id,'username':ens.login }) }}">
                            <button type="button" class="btn btn-default" onclick="if(window.confirm('Voulez-vous vraiment supprimer ?'))
                                {return true;}else{return false;}">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button></a>
                    </div>
                </div>


            </td>
        </tr>
{% else %}
    <p>Aucun enseignant n'a été trouvé.</p>
{% endfor %}
        </tbody>
</table>
    </div>
{% endblock %}


