{% extends '::layoutEnseignant.html.twig' %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#example').DataTable( {
                columnDefs: [ {
                    targets: [ 0 ],
                    orderData: [ 0, 1 ]
                }, {
                    targets: [ 1 ],
                    orderData: [ 1, 0 ]
                }, {
                    targets: [ 4 ],
                    orderData: [ 4, 0 ]
                } ]
            } );
        } );
    </script>

    <link rel="stylesheet" type="text/css" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'/>

{% endblock %}

{% block body %}
    <div>
        <table class="table">
            <tbody>
            {% for ens in enseignant %}
                <tr>
                <tr><td><b>Nom</b></td><td>{{ ens.nom }}</td></tr>
                <tr><td><b>Prenom</b></td><td>{{ ens.prenom }}</td></tr>
                <tr><td><b>Sexe</b></td><td>{{ ens.sexe }}</td></tr>
                <tr><td><b>Lieux de Naissance</b></td><td>{{ ens.lieuxNaissance }}</td></tr>
                <tr><td><b>Nationalité</b></td><td>{{ ens.nationalite }}</td></tr>
                <tr><td><b>Ville</b></td><td>{{ ens.ville }}</td>
                <tr><td><b>Numéro Cin/Pass</b></td><td>{{ ens.cin }}</td></tr>
                <tr><td><b>Adresse</b></td><td>{{ ens.adresse }}</td></tr>
                <tr><td><b>Téléphone</b></td><td>{{ ens.tel }}</td></tr>
                <tr><td><b>Email</b></td><td>{{ ens.email }}</td></tr>
                <tr><td><b>RIB/PIP</b></td><td>{{ ens.rib }}</td></tr>
                <tr><td><b>Login</b></td><td>{{ ens.login }}</td></tr>
                <tr><td><a href="{{ path('modifierProfilEnseignant',{'id':ens.id,'username':ens.login }) }}"><button class="btn btn-primary">Modifier</button></a></td></tr>

                </tr>
            {% else %}
                <p>Aucune information n'a été trouvée.</p>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
