<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from backend.themesadmin.com/backend/admin_icon_menu/default/admin_default/login_v2.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 08 May 2017 10:52:51 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="description" content="bootstrap default admin template">
    <meta name="viewport" content="width=device-width">
    <title>Login | Gestion Universitaire</title>

    <script type="text/javascript">
        //<![CDATA[
        try{if (!window.CloudFlare) {var CloudFlare=[{verbose:0,p:0,byc:0,owlid:"cf",bag2:1,mirage2:0,oracle:0,paths:{cloudflare:"/cdn-cgi/nexp/dok3v=1613a3a185/"},atok:"de2f1d2ca7a4618e2e35af9620d39dfd",petok:"8c893d380e65a1f938ad84f87c1768c7d66e6bdd-1494240519-1800",zone:"themesadmin.com",rocket:"0",apps:{"ga_key":{"ua":"UA-92643213-2","ga_bs":"2"}}}];!function(a,b){a=document.createElement("script"),b=document.getElementsByTagName("script")[0],a.async=!0,a.src="../../../../../ajax.cloudflare.com/cdn-cgi/nexp/dok3v%3d85b614c0f6/cloudflare.min.js",b.parentNode.insertBefore(a,b)}()}}catch(e){};
        //]]>
    </script>
    <link rel="shortcut icon" href="http://backend.themesadmin.com/backend/assets/favicon/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="{{ asset('templates/assets/favicon/apple-touch-icon.png') }}"/>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('templates/assets/favicon/apple-touch-icon-57x57.png') }}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('templates/assets/favicon/apple-touch-icon-72x72.png') }}"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('templates/assets/favicon/apple-touch-icon-76x76.png') }}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('templates/assets/favicon/apple-touch-icon-114x114.png') }}"/>
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('templates/assets/favicon/apple-touch-icon-120x120.png') }}"/>
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('templates/assets/favicon/apple-touch-icon-144x144.png') }}"/>
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('templates/assets/favicon/apple-touch-icon-152x152.png') }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('templates/assets/favicon/apple-touch-icon-180x180.png') }}"/>

    <link rel="stylesheet" href="{{ asset('templates/assets/global/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('templates/assets/icons_fonts/elegant_font/elegant.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('templates/assets/pages/global/css/global.css') }}"/>




    <link rel="stylesheet" href="{{ asset('templates/assets/global/css/components.min.css') }}"/>


    <link rel="stylesheet" href="{{ asset('templates/assets/layouts/layout-icon-menu/css/layout.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('templates/assets/pages/login/login-v2/css/login_v2.css') }}"/>

    <script type="text/javascript">
        /* <![CDATA[ */
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-92643213-2']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        (function(b){(function(a){"__CF"in b&&"DJS"in b.__CF?b.__CF.DJS.push(a):"addEventListener"in b?b.addEventListener("load",a,!1):b.attachEvent("onload",a)})(function(){"FB"in b&&"Event"in FB&&"subscribe"in FB.Event&&(FB.Event.subscribe("edge.create",function(a){_gaq.push(["_trackSocial","facebook","like",a])}),FB.Event.subscribe("edge.remove",function(a){_gaq.push(["_trackSocial","facebook","unlike",a])}),FB.Event.subscribe("message.send",function(a){_gaq.push(["_trackSocial","facebook","send",a])}));"twttr"in b&&"events"in twttr&&"bind"in twttr.events&&twttr.events.bind("tweet",function(a){if(a){var b;if(a.target&&a.target.nodeName=="IFRAME")a:{if(a=a.target.src){a=a.split("#")[0].match(/[^?=&]+=([^&]*)?/g);b=0;for(var c;c=a[b];++b)if(c.indexOf("url")===0){b=unescape(c.split("=")[1]);break a}}b=void 0}_gaq.push(["_trackSocial","twitter","tweet",b])}})})})(window);
        /* ]]> */
    </script>
</head>

<body>

<div class="login_v2">
    <div class="login_v2_main">
        <div class="login_v2_contain">
            <div class="login_v2_form text-xs-center">
                <i class="login_v2_profile_icon icon icon_lock"></i>
                <h5>Accéder à votre Compte</h5>
                <form action="{{ path("fos_user_security_check") }}" id="form-validation" method="post">
                    {% trans_default_domain 'FOSUserBundle' %}

                    {% if error %}
                        <div style="color: #D91E18;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}
                    <div class="login_v2_text_field">
                        <input type="text" id='username' name='_username' value="{{ last_username }}" placeholder="Nom d'Utilisateur" required="required">
                        <i class="icon icon_profile"></i>
                    </div>
                    <div class="login_v2_text_field">
                        <input type="password" id='password' name='_password' placeholder="Mot de Passe" required="required">
                        <i class="icon icon_key"></i>
                    </div>
                    <div class="checkbox-login login_v2_check">
                        <div class="checkbox-squared">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            <label for="remember_me"></label>
                            <span>{{ 'security.login.remember_me'|trans }}</span>
                        </div>
                    </div>
                    <button type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-primary btn-block">Se Connecter</button>
                    <div class="login_v2_forget_text">
                        <a href="{{ path('fos_user_resetting_request') }}">Informations de compte oubliées ?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="{{ asset('templates/assets/global/plugins/jquery/dist/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('templates/assets/global/plugins/tether/dist/js/tether.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('templates/assets/global/plugins/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('templates/assets/pages/global/js/global.min.js') }}"></script>


<script type="text/javascript" src="{{ asset('templates/assets/global/plugins/jquery-validation/dist/jquery.validate.min.js') }}"></script>


<script type="text/javascript" src="{{ asset('templates/assets/global/js/global/global_validation.js') }}"></script>

</body>

<!-- Mirrored from backend.themesadmin.com/backend/admin_icon_menu/default/admin_default/login_v2.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 08 May 2017 10:52:52 GMT -->
</html>