{% extends '::layoutAdmin.html.twig' %}

{% block header %}

    <link rel="stylesheet" href="{{ asset('templates/assets/global/plugins/font-awesome/css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('templates/assets/global/plugins/datatables/media/css/dataTables.bootstrap4.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('templates/assets/global/plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('templates/assets/global/plugins/datatables-scroller/css/scroller.bootstrap4.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('templates/assets/global/plugins/flatpickr/dist/flatpickr.min.css') }}"/>

{% endblock %}

{% block body %}

    <section id="main" class="container-fluid">
        <div class="row">
            <section id="content-wrapper">
                <div class="site-content-title">
                    <P class="float-xs-left content-title-main">Espace Admin</P>
                </div>
                <div class="col-md-12 profile-contain">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div class="content">

                                <P>Ajouter une Classe / <a href="{{path('listClasse')}}">Liste des Classes</a></P>
                                <form action="{{ path('ValiderModifClasse', { 'id': classe.id }) }}" method="POST" id="MyForm">
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                        <br>
                                        <label for="class_selectbox">Niveau</label>
                                        <div class="control-group">
                                            <select name="niveau" class="form-control" required>
                                                <option value="">Choisir le Niveau...</option>
                                                {% if niveau is not empty %}
                                                    {% for niv in niveau %}
                                                        <option value="{{niv.nomNiveau}}">{{niv.nomNiveau}}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                        </div>
                                        <br>
                                        <label for="etudiant_list">Filière:</label>
                                        <div class="control-group">
                                            <select name="filiere" class="form-control" required>
                                                <option value="">Choisir la Filière...</option>
                                                {% if filiere is not empty %}
                                                    {% for fil in filiere %}
                                                        <option value="{{fil.intitule}}">{{fil.intitule}}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                        </div>
                                        <br>
                                        <div class="control-group">
                                            <input type="hidden" value="{{classe.id}}" name="idClasse">
                                            <input type="submit" value="Sauvegarder" type="button" class="btn btn-success">
                                            <input type="reset" value="Annuler" class="btn btn-danger">
                                        </div>
                                        <br><br>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </section>

{% endblock %}


