{% extends '::base.html.twig' %}

{% block body %}

    <div id="add" class="col-sm-11" style="background-color:lavender;">
        <a href="{{ path('NewMatiere') }}"><button type="button" class="btn btn-success">Ajouter</button></a>
     <table class="table table-striped">
       <thead>
        <tr>
        <th>ID</th>
        <th>Nom Matiere</th>
        <th>Coefficient Matiere</th>
        <th>Credit matiere</th>
        
        </tr>
    </thead>
    <tbody>

    {% for matiere in matieres %}
      <tr>
      <td>{{matiere.id}}</td>
      <td>{{matiere.nomMatiere}}</td> 
      <td>{{matiere.coefficient}}</td>
      <td>{{matiere.credit}}</td>
      <td><a href="{{ path('modifierMatiere', { 'id': matiere.id }) }}">
              <button type="button" class="btn btn-success">Modifier</button></a>
          <a href="{{ path('deleteMatiere', { 'id': matiere.id })}}">
              <button type="button" class="btn btn-danger">Supprimer</button></a>
      </tr>
    {% endfor %}
    </tbody>
  </table>


</div>
{% endblock %}