{% extends '::layoutAdmin.html.twig' %}

{% block header %}

    <link rel="stylesheet" href="{{ asset('templates/assets/global/plugins/font-awesome/css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('templates/assets/global/plugins/datatables/media/css/dataTables.bootstrap4.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('templates/assets/global/plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('templates/assets/global/plugins/datatables-scroller/css/scroller.bootstrap4.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('templates/assets/global/plugins/flatpickr/dist/flatpickr.min.css') }}"/>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        document.getElementById('contrat').onchange = function(){
            alert(this.value);
        };
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>

    <script>
        function testnumber() {
            //pour bien dire au javascript que c'est un nombre et pas une chaîne de caractères
            var coef = parseInt(document.getElementById('coef').value);
            var credit = parseInt(document.getElementById('credit').value);
//Tu peux utiliser parseFloat() à la place de ParseInt() si la valeur peut être un nombre à virgule.
            if (coef < 0 || credit < 0) {
//dire à l'utilisateur qu'il a mal remplis
                alert("Attention, une valeur négative est inséré !")
            }
        }
    </script>

{% endblock %}

{% block body %}
    <div class="col-md-12 profile-contain">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="content">
                    <P>Ajouter une matière / <a href="{{ path('listMatiere') }}">Liste des matières</a></P>
                    {{ form_start(form,{'attr':{'action':path('modifierMatiere', {'id': matiere.id})}}) }}
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <label for="etudiant_nom">Intitulé de la matière</label>
                        <div class="form-group">
                            {{ form_widget(form.nomMatiere) }}
                        </div>
                        <label>Coefficient</label>
                        <div class="form-group">
                            {{ form_widget(form.coefficient, {'attr': { 'step': '0.01', 'onkeyup': 'testnumber();'}}) }}
                        </div>
                        <label>Credit</label>
                        <div class="form-group">
                            {{ form_widget(form.credit, {'attr': { 'step': '0.01', 'onkeyup': 'testnumber();'}}) }}
                        </div>
                        <label>Classe</label>
                        <div class="form-group">
                            {{ form_widget(form.classe) }}
                        </div>
                        <div class="control-group">
                            {{ form_widget(form.submit, { 'label': 'Sauvegarder' }) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div></div></div></div>
    <!-- script permettant la séléction multiple des matières -->

    <script>
        var eventHandler = function(name) {
            return function() {
                console.log(name, arguments);
                $('#log').append('<div><span class="name">' + name + '</span></div>');
            };
        };
        var $select = $('#select-matieres').selectize({
            create          : false,
            plugins: ['remove_button'],
            onChange        : eventHandler('onChange'),
            onItemAdd       : eventHandler('onItemAdd'),
            onItemRemove    : eventHandler('onItemRemove'),
            onOptionAdd     : eventHandler('onOptionAdd'),
            onOptionRemove  : eventHandler('onOptionRemove'),
            onDropdownOpen  : eventHandler('onDropdownOpen'),
            onDropdownClose : eventHandler('onDropdownClose'),
            onFocus         : eventHandler('onFocus'),
            onBlur          : eventHandler('onBlur'),
            onInitialize    : eventHandler('onInitialize'),
        });
    </script>

{% endblock %}


