{% extends '::layoutAdmin.html.twig' %}

{% block header %}

    <link rel="stylesheet" href="{{ asset('templates/assets/global/plugins/font-awesome/css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('templates/assets/global/plugins/datatables/media/css/dataTables.bootstrap4.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('templates/assets/global/plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('templates/assets/global/plugins/datatables-scroller/css/scroller.bootstrap4.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('templates/assets/global/plugins/flatpickr/dist/flatpickr.min.css') }}"/>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        document.getElementById('contrat').onchange = function(){
            alert(this.value);
        };
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>

    <script>
        function testnumber() {
            //pour bien dire au javascript que c'est un nombre et pas une chaîne de caractères
            var coef = parseInt(document.getElementById('coef').value);
            var credit = parseInt(document.getElementById('credit').value);
//Tu peux utiliser parseFloat() à la place de ParseInt() si la valeur peut être un nombre à virgule.
            if (coef < 0 || credit < 0) {
//dire à l'utilisateur qu'il a mal remplis
                alert("Attention, une valeur négative est inséré !")
            }
        }
    </script>

{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="content">
    <p>Ajouter une matière / <a href="{{path('listMatiere')}}">Liste des matière</a></p>
                            <form action="{{ path('ValiderModification', { 'id': matieres.id }) }}" method="POST" id="MyForm">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                    <br>
                                    <label for="class_selectbox">Intitulé de la matière:</label>
                                    <div class="form-group">
                                        <input type="text" value="{{matieres.nomMatiere}}" class="form-control" id="usr" name="nomMatiere" required>
                                    </div>

                                    <label for="groupe_list">Coefficient:</label>
                                    <div class="form-group">
                                        <input input type="number" step="0.01" value="{{matieres.coefficient}}" class="form-control" id="coef" name="coefficient" onkeyup="testnumber()" required>
                                    </div>

                                    <label for="etudiant_list">Credit:</label>
                                    <div class="control-group">
                                        <input input type="number" value="{{matieres.credit}}" step="0.01" class="form-control" id="credit" name="credit" onkeyup="testnumber()" required>
                                    </div>
                                    <br>
                                    <label for="etudiant_list">Classe:</label>
                                    <div class="control-group">
                                        <select name="classe" class="form-control" required>
                                            <option value="">{{matieres.classe}}</option>
                                            {% if classe is not empty %}
                                                {% for clas in classe %}
                                                    <option value="{{clas.intitule}}">{{clas.intitule}}</option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                    <br>
                                    <div class="control-group">
                                        <input type="hidden" value="{{matieres.id}}" name="idMatiere">
                                        <input type="submit" value="Sauvegarder" type="button" class="btn btn-success">
                                        <input type="reset" value="Annuler" class="btn btn-danger">
                                    </div>
                                    <br><br>
                                </div>
                            </form>
                        </div></div></div></div></div></div>
    </div>

{% endblock %}


