{# contact.html.twig #}
{% extends "layoutAdmin.html.twig" %}

{% block body %}

{{ form_start(form) }}

    <div class="form-group">
        <label for="contact_subject">{{ form_label(form.subject) }}</label><br>
        {{ form_widget(form.subject) }}
    </div>

    <div class="form-group">
        <label for="contact_name">{{ form_label(form.name) }}</label><br>
        {{ form_widget(form.name) }}
    </div>

    <div class="form-group">
        <label for="contact_email">{{ form_label(form.email) }}</label><br>
        {{ form_widget(form.email) }}
    </div>

    <div class="form-group">
        <label for="contact_message">{{ form_label(form.message) }}</label><br>
        {{ form_widget(form.message) }}
    </div>

    {{ form_rest(form) }}

<input type="submit" class="btn btn-success" value="Envoyer" >

{{ form_end(form) }}


{% endblock %}