{% extends "layoutAdmin.html.twig" %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#example').DataTable( {
                columnDefs: [ {
                    targets: [ 0 ],
                    orderData: [ 0, 1 ]
                }, {
                    targets: [ 1 ],
                    orderData: [ 1, 0 ]
                }, {
                    targets: [ 4 ],
                    orderData: [ 4, 0 ]
                } ]
            } );
        } );
    </script>

{% endblock %}

{% block body %}
<h1>Liste des préinscrits :</h1>
<table class="table"  cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
<thead>
<tr>
    <th>Nom</th>
    <th>Prenom</th>
    <th>DateNaissance</th>
    <th>LieuNaissance</th>
    <th>Ville</th>
    <th>Sexe</th>
    <th>Action</th>
</tr>
</thead>
        <tbody>
        {% for pre in preinscrits %}
        <tr>
            <td><a href="{{ path('infosPreEtudiant', { 'id': pre.id }) }}">{{ pre.nom }}</a></td>
            <td>{{ pre.prenom }}</td>
            <td>{{ pre.dateNaissance|date("m/d/Y", false) }}</td>
            <td>{{ pre.lieuNaissance }}</td>
            <td>{{ pre.ville }}</td>
            <td>{{ pre.sexe }}</td>
            <td><a href="{{ path('valider_preinscrit',{ 'id': pre.id }) }}"><button class="btn btn-success">Valider</button></a><a href="{{ path('refuserPreinscrit',{'id':pre.id}) }}"><button class="btn btn-danger" onclick="if(window.confirm('Voulez-vous vraiment supprimer ?')){return true;}else{return false;}">Supprimer</button></a>
        </tr>
{% else %}
    <p>Aucune préinscrit n'a été trouvée.</p>
{% endfor %}
        </tbody>
</table>

{% endblock %}


