{% extends "::layoutAdmin.html.twig" %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#example').DataTable( {
                columnDefs: [ {
                    targets: [ 0 ],
                    orderData: [ 0, 1 ]
                }, {
                    targets: [ 1 ],
                    orderData: [ 1, 0 ]
                }, {
                    targets: [ 4 ],
                    orderData: [ 4, 0 ]
                } ]
            } );
        } );
    </script>

{% endblock %}


{% block body %}

    <h2>Liste des étudiants :</h2>

    <table class="table"  cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>DateNaissance</th>
            <th>LieuNaissance</th>
            <th>Ville</th>
            <th>Sexe</th>
            <th>&nbsp;&nbsp;&nbsp;<a href="{{path('ajouter_Etudiant')}}">+Nouveau Etudiant</a></th>
        </tr>
        </thead>
        <tbody>
        {% for etd in etudiants %}
            <tr>
                <td><a href="{{ path('infosEtudiant', { 'id': etd.id }) }}">{{ etd.nom }}</a></td>
                <td>{{ etd.prenom }}</td>
                <td>{{ etd.dateNaissance|date("m/d/Y", false) }}</td>
                <td>{{ etd.lieuNaissance }}</td>
                <td>{{ etd.ville }}</td>
                <td>{{ etd.sexe }}</td>
                <td><a href="{{ path('modifier_Etudiant',{'id':etd.id,'username':etd.login}) }}"><button class="btn btn-primary">Modifier</button></a><a href="{{ path('supprimerEtudiant',{'id':etd.id,'username':etd.login}) }}"><button class="btn btn-danger">Supprimer</button></a></td>
            </tr>
        {% else %}
            <p>Aucune préinscrit n'a été trouvée.</p>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
