{% extends "::layoutAdmin.html.twig" %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#example').DataTable( {
                columnDefs: [ {
                    targets: [ 0 ],
                    orderData: [ 0, 1 ]
                }, {
                    targets: [ 1 ],
                    orderData: [ 1, 0 ]
                }, {
                    targets: [ 5 ],
                    orderData: [ 5, 0 ]
                } ]
            } );
        } );
    </script>
    <link rel="stylesheet" type="text/css" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'/>

{% endblock %}
            {% block body %}

                <h1>Liste des parents :</h1>
                <table class="table"  cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>DateNaissance</th>
                        <th>LieuNaissance</th>
                        <th>Ville</th>
                        <th>Sexe</th>
                        <th><a href="{{path('ajouter_Parent')}}">+Nouveau Parent</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for parnt in parent %}
                    <tr>
                        <td><a href="{{ path('infosParent', { 'id': parnt.id }) }}">{{ parnt.nom }}</a></td>
                        <td>{{ parnt.prenom }}</td>
                        <td>{{ parnt.dateNaissance|date("d-m-Y", false) }}</td>
                        <td>{{ parnt.lieuNaissance }}</td>
                        <td>{{ parnt.ville }}</td>
                        <td>{{ parnt.sexe }}</td>
                        <td>
                            <div class="btn-toolbar" role="toolbar">

                                <div class="btn-group">

                                    <a href="{{ path('infosParent', { 'id': parnt.id }) }}">
                                        <button type="button" class="btn btn-default">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </a>

                                    <a href="{{ path('modifier_Parent',{'id':parnt.id,'username':parnt.login}) }}">
                                        <button type="button" class="btn btn-default">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                    </a>

                                    <a href="{{ path('supprimerParent',{'id':parnt.id,'username':parnt.login}) }}">
                                        <button type="button" class="btn btn-default" onclick="if(window.confirm('Voulez-vous vraiment supprimer ?'))
                                {return true;}else{return false;}">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% else %}
                        <p>Aucune Parent n'a été trouvé.</p>
                    {% endfor %}
                    </tbody>
                </table>

            {% endblock %}
