{% extends "::layoutAdmin.html.twig" %}

{% block javascripts %}
       <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>
       <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
       <script type="text/javascript" charset="utf-8">
           $(document).ready(function() {
               $('#example').DataTable( {
                   columnDefs: [ {
                       targets: [ 0 ],
                       orderData: [ 0, 1 ]
                   }, {
                       targets: [ 1 ],
                       orderData: [ 1, 0 ]
                   }, {
                       targets: [ 4 ],
                       orderData: [ 4, 0 ]
                   } ]
               } );
           } );
       </script>

       <link rel="stylesheet" type="text/css" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'/>

   {% endblock %}

{% block body %}

    <h2>Liste des étudiants :</h2>

    <table class="table"  cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>DateNaissance</th>
            <th>LieuNaissance</th>
            <th>Ville</th>
            <th>Sexe</th>
            <th><a href="{{path('ajouter_Etudiant')}}">+Nouveau Etudiant</a></th>
        </tr>
        </thead>
        <tbody>
        {% for etd in etudiants %}
            <tr>
                <td><a href="{{ path('infosEtudiant', { 'id': etd.id }) }}">{{ etd.nom }}</a></td>
                <td>{{ etd.prenom }}</td>
                <td>{{ etd.dateNaissance|date("m/d/Y", false) }}</td>
                <td>{{ etd.lieuNaissance }}</td>
                <td>{{ etd.ville }}</td>
                <td>{{ etd.sexe }}</td>
                <td>

                    <div class="btn-toolbar" role="toolbar">

                        <div class="btn-group">

                            <a href="{{ path('infosEtudiant', { 'id': etd.id }) }}">
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </a>

                            <a href="{{ path('modifier_Etudiant',{'id':etd.id,'username':etd.login}) }}">
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </a>

                            <a href="{{ path('supprimerEtudiant',{'id':etd.id,'username':etd.login}) }}">
                                <button type="button" class="btn btn-default" onclick="if(window.confirm('Voulez-vous vraiment supprimer ?'))
                                {return true;}else{return false;}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button></a>
                        </div>
                    </div>


                </td>
            </tr>
        {% else %}
            <p>Aucune préinscrit n'a été trouvée.</p>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
