{% extends '::layoutParent.html.twig' %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#example').DataTable( {
                columnDefs: [ {
                    targets: [ 0 ],
                    orderData: [ 0, 1 ]
                }, {
                    targets: [ 1 ],
                    orderData: [ 1, 0 ]
                }, {
                    targets: [ 4 ],
                    orderData: [ 4, 0 ]
                } ]
            } );
        } );
    </script>

    <link rel="stylesheet" type="text/css" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'/>

{% endblock %}

{% block body %}
<div class="col-md-12 profile-contain">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="content">
        <table class="table">
            <tbody>
            {% for parent in parents %}
                <tr><td><b>Nom</b></td><td>{{ parent.nom }}</td></tr>
                <tr><td><b>Prenom</b></td><td>{{ parent.prenom }}</td></tr>
                <tr><td><b>date de Naissance</b></td><td>{{ parent.dateNaissance|date('d-m-Y') }}</td></tr>
                <tr><td><b>Sexe</b></td><td>{{ parent.sexe }}</td></tr>
                <tr><td><b>LieuNaissance</b></td><td>{{ parent.nationalite }}</td></tr>
                <tr><td><b>Ville</b></td><td>{{ parent.ville }}</td>
                <tr><td><b>Numéro Cin/Pass</b></td><td>{{ parent.numCinPass }}</td></tr>
                <tr><td><b>Adresse</b></td><td>{{ parent.adresse }}</td></tr>
                <tr><td><b>Téléphone</b></td><td>{{ parent.tel }}</td></tr>
                <tr><td><b>Email</b></td><td>{{ parent.email }}</td></tr>
                <tr><td><b>Login</b></td><td>{{ parent.login }}</td></tr>
                <tr><td><a href="{{ path('modifierProfilParent',{'id':parent.id,'username':parent.login}) }}"><button class="btn btn-primary">Modifier</button></a></td></tr>

            {% else %}
                <p>Aucune information n'a été trouvée.</p>
            {% endfor %}
            </tbody>
        </table>
            </div></div></div></div>
{% endblock %}
