{% extends '::layoutAdmin.html.twig' %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#example').DataTable( {
                columnDefs: [ {
                    targets: [ 0 ],
                    orderData: [ 0, 1 ]
                }, {
                    targets: [ 1 ],
                    orderData: [ 1, 0 ]
                }, {
                    targets: [ 4 ],
                    orderData: [ 4, 0 ]
                } ]
            } );
        } );
    </script>

{% endblock %}

{% block body %}
    <h2>Liste des filières :</h2>
    <table class="table"  cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
        <thead>
        <tr>
            <th>ID</th>
            <th>Intitulé</th>
			<th>Niveau</th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{path('ajouter_filieres')}}">+Nouvelle Filiere</a></th>
        </tr>
        </thead>
        <tbody>
        {% for fil in filiere %}
        <tr>
            <td>{{ fil.id }}</td>
            <td>{{ fil.intitule }}</td>
			<td>{{ fil.niveau }}</td>
            <td><a href="{{ path('modifier_filieres', { 'id': fil.id }) }}"><button class="btn btn-success">Modifier</button></a><a href="{{ path('supprimer_filieres', { 'id': fil.id }) }}"><button class="btn btn-danger">Supprimer</button></a>
        </tr>
        {% else %}
            <p>Aucune filières n'a été trouvée.</p>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}


